<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CateringMapper">
	<resultMap id="cateringSelectMap" type="catering">
		<result property="ctNo" 			column="CT_NO" 			jdbcType="NUMERIC"/>
		<result property="ctMenu.menuNo" 			column="CT_MENU_NO" 			jdbcType="NUMERIC"/>
		<result property="ctUser.userId" 			column="CT_USER_ID" 			jdbcType="VARCHAR"/>
		<result property="ctTruck.truckId" 			column="CT_TRUCK_ID" 			jdbcType="VARCHAR"/>
		<result property="ctDate"	column="CT_DATE" 		jdbcType="DATE" />
		<result property="ctStartTime" 	column="CT_START_TIME" 		jdbcType="VARCHAR" />
		<result property="ctEndTime" 			column="CT_END_TIME" 	jdbcType="VARCHAR" />
		<result property="ctMenuMinQty" 			column="CT_MENU_MIN_QTY" 	jdbcType="NUMERIC" />
		<result property="ctMenuMaxQty" 			column="CT_MENU_MAX_QTY" 			jdbcType="NUMERIC"/>
		<result property="ctMenuQty"	column="CT_MENU_QTY" 		jdbcType="NUMERIC" />
		<result property="ctAdd" 	column="CT_ADD" 		jdbcType="VARCHAR" />
		<result property="ctAddDetail" 			column="CT_ADD_DETAIL" 	jdbcType="VARCHAR" />
		<result property="ctUserRequest" 			column="CT_USER_REQUEST" 	jdbcType="VARCHAR" />
		<result property="ctPhone" 			column="CT_PHONE" 	jdbcType="VARCHAR" />
		<result property="ctQuotation" 			column="CT_QUOTATION" 	jdbcType="NUMERIC" />
		<result property="ctRealQuotation" 			column="CT_REAL_QUOTATION" 	jdbcType="NUMERIC" />
		<result property="ctTruckRequest" 			column="CT_TRUCK_REQUEST" 	jdbcType="VARCHAR" />
		<result property="ctStatusCode" 			column="CT_STATUS_CODE" 	jdbcType="CHAR" />
		<result property="ctServRegDate" 			column="CT_SERV_REG_DATE" 	jdbcType="DATE" />
		<result property="ctResRegDate" 			column="CT_RES_REG_DATE" 	jdbcType="DATE" />
		<result property="ctCancelDate" 			column="CT_CANCEL_DATE" 	jdbcType="DATE" />
		<result property="ctPayDate" 			column="CT_PAY_DATE" 	jdbcType="DATE" />
		<result property="ctPayno" 			column="CT_PAY_NO" 	jdbcType="VARCHAR" />
		<result property="ctPayFlag" 			column="CT_PAY_FLAG" 	jdbcType="VARCHAR" />
		<association property="ctTruck" javaType="truck">
			<id property="truckId" column="TRUCK_ID" jdbcType="VARCHAR" />
			<result property="truckPhone" column="TRUCK_PHONE" jdbcType="VARCHAR" />
			<result property="truckName" column="TRUCK_NAME" jdbcType="VARCHAR"/>
		</association>
		<association property="ctUser" javaType="user">
			<id property="userId" column="USER_ID" jdbcType="VARCHAR"/>
			<result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
			<result property="userPhone" column="USER_PHONE" jdbcType="VARCHAR"/>
		</association>
		<association property="ctMenu" javaType="menu">
			<id property="menuNo" column="MENU_NO" jdbcType="NUMERIC"/>
			<result property="menuName" column="MENU_NAME" jdbcType="VARCHAR"/>
			<result property="menuImg1" column="MENU_IMG1" jdbcType="VARCHAR"/>
			<result property="isSigMenu" column="IS_SIG_MENU" jdbcType="CHAR"/>
			<result property="menuPrice" column="MENU_PRICE" jdbcType="NUMERIC"/>
		</association>
	</resultMap>


	<select id="getCtList"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT
		ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE, u.user_name
		FROM catering ct, truck tr, menu m, user u
		<if test="search.searchCondition ==0">
			<where>
				ct.CT_USER_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6' AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_USER_ID = u.USER_ID
			</where>
		</if>
		<if test="search.searchCondition ==1">
			<where>
				ct.CT_TRUCK_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6' AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_USER_ID = u.USER_ID
			</where>
		</if>
		<if test="search.searchCondition ==2">
			<where>
				(ct.CT_STATUS_CODE='0' OR (ct.CT_USER_ID=#{id} AND ct.CT_STATUS_CODE='5')) AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_USER_ID = u.USER_ID AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			</where>
		</if>
		order by ct.ct_date
	</select>


	<select id="getCtStatusList"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT
		ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE, u.user_name
		FROM catering ct, truck tr, menu m, user u
		<if test="search.searchCondition ==0">
			<where>
				CT_USER_ID = #{id} AND CT_STATUS_CODE=#{ctStatusCode} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<if test="search.searchCondition ==1">
			<where>
				CT_TRUCK_ID = #{id} AND CT_STATUS_CODE=#{ctStatusCode} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<if test="search.searchCondition ==2">
			<where>
				CT_STATUS_CODE='0' AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			</where>
		</if>
		<!-- 이용자 취소 및 사업자 거절 출력  / 이용자-->
		<if test="search.searchCondition ==3">
			<where>
				CT_USER_ID = #{id} AND (CT_STATUS_CODE='2' OR CT_STATUS_CODE='3') AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<!-- 이용자 취소 및 사업자 거절 출력  / 사업자-->
		<if test="search.searchCondition ==4">
		<where>
			CT_TRUCK_ID= #{id} AND (CT_STATUS_CODE='2' OR CT_STATUS_CODE='3') AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
		</where>
	</if>
		order by ct.ct_date
	</select>

	<select id="getCtDateList"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT
			ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE
		FROM  catering ct, truck tr, menu m
		<if test="search.searchCondition ==0">
			<where>
				ct.CT_TRUCK_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6' AND ct.CT_MENU_NO = m.MENU_NO
			</where>
		</if>
		<if test="search.searchCondition ==1">
			<where>
			 CT_STATUS_CODE = '0' AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO
			AND ct.CT_TRUCK_ID=#{id}
			</where>
		</if>
		<if test="search.searchCondition ==2">
			<where>
				ct.CT_STATUS_CODE = '0' AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
				AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO

			</where>
		</if>
		<if test="search.searchCondition ==3">
			<where>
				(ct.CT_STATUS_CODE='0' OR (ct.CT_USER_ID=#{id} AND ct.CT_STATUS_CODE='5')) AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			</where>
		</if>
		order by ct.ct_date
	</select>


	<!-- 캘린더에서 보여지는거랑 리스트에서 보여지는거랑 쿼리를 다르게 써야 함
	이유는 캘린더는 한번에 전체를 다 불러온다면,
	리스트는 페이지 처리가 가능하므로...... ㅜ껚 -->


	<select id="getCtList2"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT inner_table.*
		FROM (SELECT
				ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE, u.user_name
				FROM truck tr, menu m, catering ct LEFT OUTER JOIN user AS u ON  ct.CT_USER_ID = u.USER_ID
					<if test="search.searchCondition ==0">
						<where>
							ct.CT_USER_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6' AND ct.CT_MENU_NO = m.MENU_NO
						</where>
					</if>
					<if test="search.searchCondition ==1">
						<where>
							ct.CT_TRUCK_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6'  AND ct.CT_STATUS_CODE !='0'
						</where>
					</if>
					<if test="search.searchCondition ==2">
						<where>
							(ct.CT_STATUS_CODE='0' OR (ct.CT_USER_ID=#{id} AND ct.CT_STATUS_CODE='5')) AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
						</where>
					</if>
				ORDER BY ct.CT_DATE ) inner_table
		limit #{search.startRowNum}, #{search.pageSize}
	</select>
<!-- TODO: HHJ / 오늘 지난 날짜 노출할 지 말 지 고 민 해 볼 것 / 검 색 가넝하게 만들 것.....왜? ㅠ -->

	<select id="getCtStatusList2"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT inner_table.*
		FROM (SELECT
		ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE, u.user_name
		FROM catering ct, truck tr, menu m, user u
		<if test="search.searchCondition ==0">
			<where>
				CT_USER_ID = #{id} AND CT_STATUS_CODE=#{ctStatusCode} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<if test="search.searchCondition ==1">
			<where>
				CT_TRUCK_ID = #{id} AND CT_STATUS_CODE=#{ctStatusCode} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<if test="search.searchCondition ==2">
			<where>
				CT_STATUS_CODE='0' AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			</where>
		</if>
		<!-- 이용자 취소 및 사업자 거절 출력  -->
		<if test="search.searchCondition ==3">
			<where>
				CT_USER_ID = #{id} AND (CT_STATUS_CODE='2' OR CT_STATUS_CODE='3') AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		<!-- 이용자 취소 및 사업자 거절 출력  / 사업자-->
		<if test="search.searchCondition ==4">
			<where>
				CT_TRUCK_ID= #{id} AND (CT_STATUS_CODE='2' OR CT_STATUS_CODE='3') AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO AND ct.ct_user_id = u.user_id
			</where>
		</if>
		ORDER BY ct.CT_DATE ) inner_table
		limit #{search.startRowNum}, #{search.pageSize}
	</select>

	<select id="getCtDateList2"	parameterType="map"	resultMap="cateringSelectMap">
		SELECT inner_table.*
		FROM (SELECT
		ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE
		FROM  catering ct, truck tr, menu m
		<if test="search.searchCondition ==0">
			<where>
																			ct.CT_TRUCK_ID = #{id} AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_STATUS_CODE !='6' AND ct.CT_MENU_NO = m.MENU_NO  AND CT_DATE >= (NOW()-1)
			</where>
		</if>
		<if test="search.searchCondition ==1">
			<where>
				ct.CT_STATUS_CODE = '0' AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
				AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO
				AND ct.CT_TRUCK_ID=#{id}

			</where>
		</if>
		<if test="search.searchCondition ==2">
			<where>
				ct.CT_STATUS_CODE = '0' AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
				AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO

			</where>
		</if>
		<if test="search.searchCondition ==3">
			<where>
				(ct.CT_STATUS_CODE='0' OR (ct.CT_USER_ID=#{id} AND ct.CT_STATUS_CODE='5')) AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_MENU_NO = m.MENU_NO  AND ct.CT_DATE >= DATE_SUB(NOW(), INTERVAL 1 DAY)
			</where>
		</if>
		ORDER BY ct.CT_DATE ) inner_table
		limit #{search.startRowNum}, #{search.pageSize}
	</select>
















	<select id="getCtTruckMenu"	parameterType="string"	resultMap="cateringSelectMap">
		SELECT
			t.TRUCK_ID, t.TRUCK_NAME, t.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE
		FROM truck t, menu m
		WHERE t.TRUCK_Id = m.MENU_TRUCK_ID
			AND m.IS_SIG_MENU='1'
			AND t.TRUCK_ID=#{value};
	</select>

	<select id="getCtDetail"	parameterType="int"	resultMap="cateringSelectMap">
		SELECT
			ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE
		FROM catering ct, truck tr, menu m
		WHERE CT_NO = #{value}
		AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_TRUCK_ID = tr.TRUCK_ID
	</select>

	<select id="getResDetail"	parameterType="int"	resultMap="cateringSelectMap">
		SELECT
			ct.*, tr.TRUCK_ID, tr.TRUCK_NAME, tr.TRUCK_PHONE, m.IS_SIG_MENU, m.MENU_IMG1, m.MENU_NO, m.MENU_NAME, m.MENU_PRICE, us.USER_ID, us.USER_NAME
		FROM catering ct, truck tr, menu m, user us
		WHERE CT_NO = #{value}
		  AND ct.CT_MENU_NO = m.MENU_NO AND ct.CT_TRUCK_ID = tr.TRUCK_ID AND ct.CT_USER_ID = us.USER_ID
	</select>

	<insert id="addCt" parameterType="catering">
		INSERT INTO catering(ct_truck_id,  ct_menu_no, ct_date, ct_menu_min_qty, ct_menu_max_qty, ct_serv_reg_date)
		VALUES(
				  #{ctTruck.truckId:VARCHAR},
				  #{ctMenu.menuNo:NUMERIC},
				  #{ctDate:DATE},
				  #{ctMenuMinQty:NUMERIC},
				  #{ctMenuMaxQty:NUMERIC},
				 now()
			  )
	</insert>

	<update id="updateCtResAdd" parameterType="catering">
		UPDATE catering
		<set>
			CT_USER_ID = #{ctUser.userId:VARCHAR},
			CT_START_TIME = #{ctStartTime:VARCHAR},
			CT_END_TIME =  #{ctEndTime:VARCHAR},
		    CT_MENU_QTY =  #{ctMenuQty:NUMERIC},
		    CT_ADD =  #{ctAdd:VARCHAR},
		    CT_ADD_DETAIL =  #{ctAddDetail:VARCHAR},
		    CT_USER_REQUEST =  #{ctUserRequest:VARCHAR},
		    CT_PHONE =  #{ctPhone:VARCHAR},
		    CT_QUOTATION =  #{ctQuotation:NUMERIC},
		    CT_STATUS_CODE =  '1',
		    CT_RES_REG_DATE =  now()
		</set>
		WHERE CT_NO = #{ctNo}
	</update>

	<update id="updateCtMenuQty" parameterType="map">
		UPDATE catering
		<set>
		    CT_MENU_MIN_QTY =  #{ctMenuMinQty:NUMERIC},
		    CT_MENU_MAX_QTY=  #{ctMenuMaxQty:NUMERIC}
		</set>
		WHERE CT_NO = #{ctNo}
	</update>

	<update id="updateCtRes" parameterType="catering">
		UPDATE catering
		<set>
			CT_MENU_QTY=  #{ctMenuQty:NUMERIC},
			CT_ADD=  #{ctAdd:VARCHAR},
			CT_ADD_DETAIL=  #{ctAddDetail:VARCHAR},
			CT_USER_REQUEST =  #{ctUserRequest:VARCHAR},
			CT_PHONE =  #{ctPhone:VARCHAR},
			CT_QUOTATION=  #{ctQuotation:NUMERIC}
		</set>
		WHERE CT_NO = #{ctNo}
	</update>

	<!-- 추후 여기다가 메모 컬럼 생기면 업데이트 치기
	이거 쿼리문 수정 필요 -->
	<update id="updateCtResCancel" parameterType="map">
		UPDATE catering
		<set>
			<if test='ctStatusCode == "2" or ctStatusCode == "3"'>
				CT_CANCEL_DATE=now(),
			</if>
			<if test='ctStatusCode =="5" or ctStatusCode.equals("5")'>
				CT_PAY_DATE=now(),
		    	CT_PAY_FLAG='Y',
			</if>
			CT_STATUS_CODE=  #{ctStatusCode}

		</set>
		WHERE CT_NO = #{ctNo}
	</update>



</mapper>