<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="TruckMapper">


	<!--<resultMap id="adminSelectMap" 	type="user">
        <result property="userId"		column="user_id"		jdbcType="VARCHAR"/>
    </resultMap> -->

	<!-- Truck Table  -->
	<resultMap id="truckSelectMap" type="truck">
		<result property="truckId" 					column="truck_id" 					jdbcType="VARCHAR"/>
		<result property="truckPassword" 			column="truck_password" 			jdbcType="VARCHAR"/>
		<result property="truckCEOName" 			column="truck_ceo_name"				jdbcType="VARCHAR"/>
		<result property="truckCEOBirth" 			column="truck_ceo_birth"			jdbcType="DATE"/>
		<result property="truckAddr" 				column="truck_addr" 				jdbcType="VARCHAR"/>
		<result property="truckAddrDetail"			column="truck_addr_detail"			jdbcType="VARCHAR"/>
		<result property="truckPhone" 				column="truck_phone" 				jdbcType="VARCHAR"/>
		<result property="truckEmail"				column="truck_email"				jdbcType="VARCHAR"/>
		<result property="truckName" 				column="truck_name" 				jdbcType="VARCHAR"/>
		<result property="truckBusiLice" 			column="truck_busi_lice" 			jdbcType="VARCHAR"/>
		<result property="truckBusiNo" 				column="truck_busi_no" 				jdbcType="VARCHAR"/>
		<result property="truckCate" 				column="truck_cate" 				jdbcType="CHAR"/>
		<result property="truckProImg" 				column="truck_pro_img" 				jdbcType="VARCHAR"/>
		<result property="truckCEOIntro" 			column="truck_ceo_intro" 			jdbcType="VARCHAR"/>
		<result property="truckAVGStar" 			column="truck_avg_star" 			jdbcType="FLOAT"/>
		<result property="truckMapLa" 				column="truck_map_la" 				jdbcType="DECIMAL"/>
		<result property="truckMapLo" 				column="truck_map_lo" 				jdbcType="DECIMAL"/>
		<result property="truckJoinReqStatus" 		column="truck_join_req_status" 		jdbcType="CHAR"/>
		<result property="truckJoinReqDate" 		column="truck_join_req_date" 		jdbcType="DATE"/>
		<result property="truckNoticeTitle" 		column="truck_notice_title" 		jdbcType="VARCHAR"/>
		<result property="truckNoticeContent" 		column="truck_notice_content" 		jdbcType="VARCHAR"/>
		<result property="truckNoticeImg" 			column="truck_notice_img" 			jdbcType="VARCHAR"/>
		<result property="truckByeStatus" 			column="truck_bye_status" 			jdbcType="CHAR"/>
		<result property="truckByeReason" 			column="truck_bye_reason" 			jdbcType="CHAR"/>
		<result property="truckBusiStatus" 			column="truck_busi_status" 			jdbcType="CHAR"/>
		<result property="truckRegDate" 			column="truck_reg_date" 			jdbcType="DATE"/>
		<result property="role" 					column="role" 						jdbcType="CHAR"/>
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="addTruck"       parameterType="truck" >
		INSERT INTO TRUCK (TRUCK_ID, TRUCK_PASSWORD, TRUCK_CEO_NAME, TRUCK_CEO_BIRTH, TRUCK_ADDR, TRUCK_ADDR_DETAIL,
						   TRUCK_PHONE, TRUCK_EMAIL, TRUCK_NAME, TRUCK_BUSI_LICE, TRUCK_BUSI_NO, TRUCK_CATE, TRUCK_PRO_IMG,
						   TRUCK_CEO_INTRO, TRUCK_AVG_STAR, TRUCK_MAP_LA, TRUCK_MAP_LO, TRUCK_JOIN_REQ_STATUS,
						   TRUCK_JOIN_REQ_DATE, TRUCK_NOTICE_TITLE, TRUCK_NOTICE_CONTENT, TRUCK_NOTICE_IMG,
						   TRUCK_BYE_STATUS, TRUCK_BYE_REASON, TRUCK_BUSI_STATUS, TRUCK_REG_DATE, ROLE)
		VALUES ( #{truckId}, #{truckPassword}, #{truckCEOName}, #{truckCEOBirth}, #{truckAddr}, #{truckAddrDetail}, #{truckPhone}, #{truckEmail}, #{truckName}, #{truckBusiLice}, #{truckBusiNo}, #{truckCate}, #{truckProImg},
				 #{truckCEOIntro}, #{truckAVGStar}, #{truckMapLa}, #{truckMapLo}, #{truckJoinReqStatus}, #{truckJoinReqDate}, #{truckNoticeTitle}, #{truckNoticeContent},#{truckNoticeImg}, #{truckByeStatus}, #{truckByeReason}, #{truckBusiStatus}, #{truckRegDate}, #{role});
	</insert>

	<!-- SQL :SELECT ONE-->
	<select id="getTruck"   parameterType="String"    resultMap="truckSelectMap" >
		SELECT
			 TRUCK_ID, TRUCK_PASSWORD, TRUCK_CEO_NAME, TRUCK_CEO_BIRTH, TRUCK_ADDR, TRUCK_ADDR_DETAIL,
			 TRUCK_PHONE, TRUCK_EMAIL, TRUCK_NAME, TRUCK_BUSI_LICE, TRUCK_BUSI_NO, TRUCK_CATE, TRUCK_PRO_IMG,
			 TRUCK_CEO_INTRO, TRUCK_AVG_STAR, TRUCK_MAP_LA, TRUCK_MAP_LO, TRUCK_JOIN_REQ_STATUS,
			 TRUCK_JOIN_REQ_DATE, TRUCK_NOTICE_TITLE, TRUCK_NOTICE_CONTENT, TRUCK_NOTICE_IMG,
			 TRUCK_BYE_STATUS, TRUCK_BYE_REASON, TRUCK_BUSI_STATUS, TRUCK_REG_DATE, ROLE
		FROM truck
		WHERE truck_id = #{value}
	</select>


	<!-- SQL : 아이디 중복 체크 -->
	<select id="checkDuId" resultType="integer">
		SELECT count(*)
		FROM truck
		WHERE truck_id = #{truckId}
	</select>



	<select id="findTruckId"   parameterType="map"    resultType="string" >
		SELECT
			TRUCK_ID
		FROM truck
		WHERE truck_name = #{truckName} and truck_phone= #{truckPhone}
	</select>




	<!-- SQL : SELECT LIST -->
	<select id="getTruckList"   parameterType="search"     resultMap="truckSelectMap">
		SELECT inner_table.*
		FROM( SELECT  truck_id , truck_name , truck_phone, truck_map_la, truck_map_lo, truck_cate, truck_avg_star, truck_pro_img, truck_busi_status
			FROM truck
				<if test="searchCondition != null">
					<where>
						<bind name="searchKeywords" value="'%' + searchKeyword + '%'"/>
						<if test="searchCondition == 0 and searchKeyword !='' ">
							AND truck_id LIKE #{searchKeyword}
						</if>
						<if test="searchCondition == 1 and searchKeyword !='' ">
							AND truck_name LIKE #{searchKeyword}
						</if>
					</where>
				</if>
				order by truck_id ) inner_table
		limit 0,8;
	</select>



	<!-- SQL : UPDATE -->
	<update	id="updateTruck" 	parameterType="truck" >
		UPDATE truck
		<set>
			truck_id = #{truckId},
			truck_password = #{truckPassword},
			truck_ceo_name= #{truckCEOName},
			truck_ceo_birth = #{truckCEOBirth},
			truck_addr = #{truckAddr},
			truck_addr_detail = #{truckAddrDetail},
			truck_phone	= #{truckPhone},
			truck_email	= #{truckEmail},
			truck_name	= #{truckName},
			truck_busi_lice	= #{truckBusiLice},
			truck_busi_no = #{truckBusiNo},
			truck_cate = #{truckCate},
			truck_pro_img = #{truckProImg},
			truck_ceo_intro	= #{truckCEOIntro},
			truck_avg_star = #{truckAVGStar},
			truck_map_la = #{truckMapLa},
			truck_map_lo = #{truckMapLo},
			truck_join_req_status = #{truckJoinReqStatus},
			truck_join_req_date = #{truckJoinReqDate},
			truck_notice_title = #{truckNoticeTitle},
			truck_notice_content = #{truckNoticeContent},
			truck_notice_img = #{truckNoticeImg},
			truck_bye_status = #{truckByeStatus},
			truck_bye_reason = #{truckByeReason},
			truck_busi_status = #{truckBusiStatus},
			truck_reg_date = #{truckRegDate},
			role = #{role}
		</set>
		WHERE truck_id = #{truckId}
	</update>



 
</mapper>
